---
import arrow1 from "../../assets/about/arrow-1.svg";
import arrow from "../../assets/about/arrow.svg";
---

<section class="px-6 pb-12">
    <div class="w-full pt-8 border-t border-neutral-800">
        <h6 class="text-orange-500 text-xl">Our Commitment</h6>
        <div class="grid grid-cols-4 gap-x-6 gap-y-20">
            <h4 class="text-stone-50 text-4xl col-span-1">
                Extending the Power of Geospatial Tech.
            </h4>
            <div class="text-stone-50 text-6xl col-span-3">
                <h2>
                    We aim to generate innovative ideas through a spatial
                    approach and present a solution for the Government, Private
                    Sector, and Society in various fields.
                </h2>
                <button
                    class="bg-orange-700 py-2 px-3 text-sm text-white rounded-sm flex space-x-2 mt-10"
                    ><p>See Initiatives</p><img
                        src={arrow.src}
                        alt=""
                    /></button
                >
            </div>

            <h4 class="text-stone-50 text-4xl col-span-1">
                Acknowledgement of Excellence
            </h4>
            <div class="flex flex-col px-2 pt-6 space-y-3">
                <p class="text-neutral-500 border-b border-neutral-600 pb-1">
                    01/
                </p>
                <h6 class="min-h-16 text-white text-2xl">
                    Member of Open Geospatial Consortium
                </h6>
                <div
                    class="w-full flex items-center justify-center py-8 border border-neutral-800"
                >
                    <img class="h-24" src="/certificate/1.png" alt="" />
                </div>
                <p class="text-neutral-400 text-xl">
                    The only Indonesian company on OGC member, focuses on data
                    interoperability and standardization
                </p>
                <button class="text-orange-700 text-sm flex space-x-2"
                    ><p>View Certificate</p><img
                        src={arrow1.src}
                        alt=""
                    /></button
                >
            </div>

            <div class="flex flex-col px-2 pt-6 space-y-3">
                <p class="text-neutral-500 border-b border-neutral-600 pb-1">
                    02/
                </p>
                <h6 class="min-h-16 text-white text-2xl">AWS Service Partner</h6>
                <div
                    class="w-full flex items-center justify-center py-8 border border-neutral-800"
                >
                    <img class="h-24" src="/certificate/2.png" alt="" />
                </div>
                <p class="text-neutral-400 text-xl">
                    The only Indonesian company on OGC member, focuses on data
                    interoperability and standardization
                </p>
                <button class="text-orange-700 text-sm flex space-x-2"
                    ><p>View Certificate</p><img
                        src={arrow1.src}
                        alt=""
                    /></button
                >
            </div>

            <div class="flex flex-col px-2 pt-6 space-y-3">
                <p class="text-neutral-500 border-b border-neutral-600 pb-1">
                    03/
                </p>
                <h6 class="min-h-16 text-white text-2xl">TKDN 91.64%</h6>
                <div
                    class="w-full flex items-center justify-center py-8 border border-neutral-800"
                >
                    <img class="h-24" src="/certificate/3.png" alt="" />
                </div>
                <p class="text-neutral-400 text-xl">
                    The only Indonesian company on OGC member, focuses on data
                    interoperability and standardization
                </p>
                <button class="text-orange-700 text-sm flex space-x-2"
                    ><p>View Certificate</p><img
                        src={arrow1.src}
                        alt=""
                    /></button
                >
            </div>

            <div></div>

            <div class="flex flex-col px-2 pt-6 space-y-3">
                <p class="text-neutral-500 border-b border-neutral-600 pb-1">
                    04/
                </p>
                <h6 class="min-h-16 text-white text-2xl">GDPR Compliance Awareness</h6>
                <div
                    class="w-full flex items-center justify-center py-8 border border-neutral-800"
                >
                    <img class="h-24" src="/certificate/4.png" alt="" />
                </div>
                <p class="text-neutral-400 text-xl">
                    The only Indonesian company on OGC member, focuses on data
                    interoperability and standardization
                </p>
                <button class="text-orange-700 text-sm flex space-x-2"
                    ><p>View Certificate</p><img
                        src={arrow1.src}
                        alt=""
                    /></button
                >
            </div>

            <div class="flex flex-col px-2 pt-6 space-y-3">
                <p class="text-neutral-500 border-b border-neutral-600 pb-1">
                    05/
                </p>
                <h6 class="min-h-16 text-white text-2xl">
                    MSECB CERTIFIED ISO/IEC 27001:2022
                </h6>
                <div
                    class="w-full flex items-center justify-center py-8 border border-neutral-800"
                >
                    <img class="h-24" src="/certificate/5.png" alt="" />
                </div>
                <p class="text-neutral-400 text-xl">
                    Global standard that focuses on protection of personal data
                    in the cloud
                </p>
                <button class="text-orange-700 text-sm flex space-x-2"
                    ><p>View Certificate</p><img
                        src={arrow1.src}
                        alt=""
                    /></button
                >
            </div>
        </div>
    </div>
</section>
