---
import Contact from "../components/home/Contact.astro";
import Geodashboard from "../components/home/Geodashboard.astro";
import Hero from "../components/home/Hero.astro";
import Logbook from "../components/home/Logbook.astro";
import Service from "../components/home/Service.astro";
import Testimoni from "../components/home/Testimoni.astro";
import Works from "../components/home/Works.astro";
import Layout from "../layouts/Layout.astro";

// Landing page copywriting data
const landingPageData = {
	hero: {
		headline: "Connecting Data, Transforming Tomorrow.",
		subheadline:
			'In today\'s volatile, uncertain, complex, and ambiguous (VUCA) environment, effective decision-making is paramount. At Braga Technologies, we bridge the gap of "where" and "how" by harnessing the power of Location Intelligence.',
		ctaText: "Primary CTA",
		partnerLogos: [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
	},
	service: {
		sectionTag: "Powered by Braga",
		headline: "Sustainably Accelerating through Geospatial Tech.",
		description:
			"We hear, formulate and implement each solition for you with our advanced geospatial expertise. Our solutions are carefully designed to help you today, tomorrow and for many years to come.",
		services: [
			{
				title: "Big Data Processing",
				tagline: "Powerful",
				description:
					"Technologies that integrate, process, analyze, and visualize big data for your collective's solution.",
			},
			{
				title: "IoT and AI Integration",
				tagline: "Dynamic",
				description:
					"Connect to IoT and AI tools, models, or hardwares for furhterly advanced and integrated problem solving.",
			},
			{
				title: "Rich Analytics",
				tagline: "Advanced",
				description:
					"Advanced tools that Braga provides helps to come up with analytics that beneficial to tackle various challanges.",
			},
			{
				title: "Data Services",
				tagline: "Global",
				description:
					"Not bounded by space and time, we help in multiple platforms, adapting to different conditions and terrains.",
			},
		],
	},
	geodashboard: {
		headline: "From Seeing Where to Understand Why.",
		description:
			"Analyze site conditions, measure key urban indicators, and perform spatial analysis — directly in the browser.",
		ctaText: "Go to Geodashboard →",
		features: [
			{
				title: "Spatial Range Calculation",
				description:
					"Visualize multiple layers both vector and raster to perform a detailed, precise, and insightful analysis.",
			},
			{
				title: "Multi-Format Data Visualization",
				description:
					"Easily visualize data in point, polygon and polyline format. Inspect rich data display for each attribute.",
			},
			{
				title: "Bootstrap Approach Global",
				description:
					"Created in no time through bootstrap. Get all the desired features, tailored to your needs.",
			},
		],
	},
	logbook: {
		headline: "Log Your Journey, Endless Possibility",
		description:
			"Stay tuned for the unveiling of our meticulously crafted logbook – where every entry marks a step toward unparalleled organization and memorable experiences. Launching soon!",
		ctaText: "Go to LogBook →",
		features: [
			{
				title: "Simplify storytelling",
				description:
					"Streamline your storytelling process with our intuitive tools, enabling you to convey your message effectively.",
			},
			{
				title: "Craft maps that reflect your style and identity",
				description:
					"Express your individuality through meticulously crafted maps tailored to your personal style and identity.",
			},
		],
	},
	testimoni: {
		sectionTag: "Expertise",
		headline: "Entrusted by The Expert, Enterprise, and Government.",
		description:
			"We have mapped and navigated in multiple parts of the globe across various fields and industries as a testament of how universal geospatial technology is.",
		industries: [
			{
				name: "Retail and Real Estate",
				icon: "testi1",
			},
			{
				name: "Oil, Mining, and Gas",
				icon: "testi2",
			},
			{
				name: "Logistics and Fleet",
				icon: "testi3",
			},
			{
				name: "Agriculture",
				icon: "testi4",
			},
		],
	},
	works: {
		sectionTag: "Our Work",
		headline: "Braga Solutions, Integrated to You.",
		description:
			"Our interdisciplinary design and development approach accelerates the geospatial tech delivery to your hands.",
		ctaText: "Read More",
	},
	contact: {
		headline: "Get started today",
		description:
			"Find out how you can maximize the value from data and strengthen your decision making",
		ctaText: "Contact us",
	},
};
---

<Layout theme="dark">
	<div class="typo-landing">
		<Hero
			headline={landingPageData.hero.headline}
			subheadline={landingPageData.hero.subheadline}
			ctaText={landingPageData.hero.ctaText}
			partnerLogos={landingPageData.hero.partnerLogos}
		/>
		<Service
			sectionTag={landingPageData.service.sectionTag}
			headline={landingPageData.service.headline}
			description={landingPageData.service.description}
			services={landingPageData.service.services}
		/>
		<Geodashboard
			headline={landingPageData.geodashboard.headline}
			description={landingPageData.geodashboard.description}
			ctaText={landingPageData.geodashboard.ctaText}
			features={landingPageData.geodashboard.features}
		/>
		<Logbook
			headline={landingPageData.logbook.headline}
			description={landingPageData.logbook.description}
			ctaText={landingPageData.logbook.ctaText}
			features={landingPageData.logbook.features}
		/>
		<Testimoni
			sectionTag={landingPageData.testimoni.sectionTag}
			headline={landingPageData.testimoni.headline}
			description={landingPageData.testimoni.description}
			industries={landingPageData.testimoni.industries}
		/>
		<Works
			sectionTag={landingPageData.works.sectionTag}
			headline={landingPageData.works.headline}
			description={landingPageData.works.description}
			ctaText={landingPageData.works.ctaText}
		/>
		<Contact
			headline={landingPageData.contact.headline}
			description={landingPageData.contact.description}
			ctaText={landingPageData.contact.ctaText}
		/>
	</div>
</Layout>

<script is:inline client:load>
	const script = document.createElement("script");
	script.src =
		"https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.13.0/lottie.min.js";
	script.onload = () => {
		window.lottie.loadAnimation({
			container: document.getElementById("canvas-1"),
			renderer: "canvas", // svg / canvas / html
			loop: true,
			autoplay: true,
			path: "/animation/service-1.json",
		});
		window.lottie.loadAnimation({
			container: document.getElementById("canvas-2"),
			renderer: "canvas", // svg / canvas / html
			loop: true,
			autoplay: true,
			path: "/animation/service-2.json",
		});
		window.lottie.loadAnimation({
			container: document.getElementById("canvas-3"),
			renderer: "canvas", // svg / canvas / html
			loop: true,
			autoplay: true,
			path: "/animation/service-3.json",
		});
		window.lottie.loadAnimation({
			container: document.getElementById("canvas-4"),
			renderer: "canvas", // svg / canvas / html
			loop: true,
			autoplay: true,
			path: "/animation/service-4.json",
		});
	};
	document.body.appendChild(script);

	const observer = new IntersectionObserver(
		(entries) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					entry.target.classList.add("visible");
				}
			});
		},
		{ threshold: 0.1 },
	);

	// Observe all animated elements
	document
		.querySelectorAll(".fade-in, .fade-in-up")
		.forEach((el) => observer.observe(el));
</script>

<style is:global>
	.typo-landing h1,
	.typo-landing h2,
	.typo-landing h3,
	.typo-landing h4,
	.typo-landing h5,
	.typo-landing h6 {
		font-family: "Host-Grotesk", sans-serif;
	}

	.gradient-border-1 {
		position: relative;
		border-radius: 4px;
	}

	.gradient-border-1::before {
		content: "";
		position: absolute;
		inset: 0;
		padding: 1px;
		background: #232221;
		border-radius: inherit;
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		transition: background 0.3s ease; /* Smooth transition */
	}

	.gradient-border-1:hover::before {
		background: linear-gradient(
			180deg,
			rgba(205, 84, 27, 0),
			rgb(243, 106, 29)
		);
	}

	/* Initial hidden state */
	.fade-in-up {
		opacity: 0;
		transform: translateY(30px);
	}

	/* Animation when visible */
	.fade-in-up.visible {
		animation: fadeInUp 0.75s ease-out forwards;
	}

	@keyframes fadeInUp {
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	/* Initial hidden state */
	.fade-in {
		opacity: 0;
	}

	/* Animation when visible */
	.fade-in.visible {
		animation: fadeIn 0.75s ease-out forwards;
	}

	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}
</style>
