---
import geo1 from "../../assets/home/geo-1.svg";
import geo2 from "../../assets/home/geo-2.svg";
import geo3 from "../../assets/home/geo-3.svg";
import geoBG from "../../assets/home/geo-bg.png";
import geodashboardLogo from "../../assets/home/geodashboard-logo.svg";

interface Feature {
    title: string;
    description: string;
}

interface Props {
    headline: string;
    description: string;
    ctaText: string;
    features: Feature[];
}

const { headline, description, ctaText, features } = Astro.props;

const featureImages = [geo1, geo2, geo3];
---

<section
    class="sm:pb-16 relative border border-neutral-700 rounded-sm overflow-hidden z-0"
>
    <img
        src={geoBG.src}
        alt="geodashboard screenshot"
        class="sm:absolute h-full w-full object-cover object-bottom-right top-0 left-0 -z-10"
    />

    <div
        class="pl-4 sm:pl-20 pr-4 w-full sm:w-1/3 space-y-6 pt-9 sm:pt-20 fade-in"
        style="animation-delay: 750ms;"
    >
        <img src={geodashboardLogo.src} />
        <h5 class="text-stone-50 text-5xl">
            {headline}
        </h5>
        <p class="text-neutral-400 text-lg">
            {description}
        </p>
        <a
            href="https://geodashboard.io/"
            target="_blank"
            class="bg-orange-700 rounded-sm text-white py-3 px-6">{ctaText}</a
        >
    </div>

    <div
        class="pl-4 sm:pl-20 pr-4 pb-4 w-full sm:w-[36rem] mt-16 space-y-4 fade-in-up"
        style="animation-delay: 1000ms;"
    >
        {
            features.map(({ title, description }, index) => (
                <div class="gradient-border-1 rounded-sm group">
                    <div class="relative p-4 group-hover:bg-black/16 rounded-sm">
                        <h6 class="text-stone-50 mb-3">{title}</h6>
                        <p class="text-neutral-400">{description} </p>
                        <img
                            src={featureImages[index]?.src}
                            alt=""
                            class="absolute top-4 right-4"
                        />
                    </div>
                </div>
            ))
        }
    </div>
</section>
