---
interface Service {
    title: string;
    tagline: string;
    description: string;
}

interface Props {
    sectionTag: string;
    headline: string;
    description: string;
    services: Service[];
}

const { sectionTag, headline, description, services } = Astro.props;
---

<section class="mx-6 pt-12 pb-24 border-t border-neutral-700">
    <h6
        class="text-orange-500 text-xl mb-2 fade-in"
        style="animation-delay: 750ms;"
    >
        {sectionTag}
    </h6>
    <div
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 fade-in"
        style="animation-delay: 750ms;"
    >
        <h3 class="text-stone-50 text-5xl">
            {headline}
        </h3>
        <p class="text-neutral-400 text-lg">
            {description}
        </p>
    </div>
    <div
        class="w-full overflow-x-scroll grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-6 mt-12 fade-in-up"
        style="animation-delay: 1500ms;"
    >
        {
            services.map(({ title, tagline, description }, idx) => (
                <div class="group gradient-border-1 p-4 space-y-4 hover:bg-black/16 rounded-sm">
                    <div class="flex justify-between items-end h-16">
                        <h5
                            class={
                                "text-2xl text-stone-50 line-clamp-2 self-start"
                            }
                        >
                            {title}
                        </h5>
                        <span class="rounded-full border border-neutral-600 group-hover:border-stone-200 text-xs text-neutral-400 group-hover:text-stone-200 py-1 px-2">
                            {tagline}
                        </span>
                    </div>
                    <div
                        id={"canvas-" + (idx + 1)}
                        class="w-full aspect-[298/204] rounded-sm overflow-hidden bg-neutral-800"
                    />

                    <p class="text-neutral-400 text-sm">{description}</p>
                </div>
            ))
        }
    </div>
</section>
