---
import workDecor from "../../assets/home/work-decor.svg";
import { fetchWorks } from "../../utils/api";

interface Props {
    sectionTag: string;
    headline: string;
    description: string;
    ctaText: string;
}

const { sectionTag, headline, description, ctaText } = Astro.props;

const works = await fetchWorks();
---

<section class="mx-6 pt-12 pb-24 border-t border-neutral-700">
    <h6
        class="text-orange-500 text-xl mb-2 fade-in"
        style="animation-delay: 750ms;"
    >
        {sectionTag}
    </h6>
    <div
        class="sm:grid grid-cols-2 space-y-6 fade-in"
        style="animation-delay: 750ms;"
    >
        <h3 class="text-stone-50 text-5xl w-2/3">
            {headline}
        </h3>
        <p class="text-neutral-400 text-lg">
            {description}
        </p>
    </div>
    <div
        class="bg-neutral-900 mt-12 sm:mt-9 flex overflow-x-scroll sm:grid grid-cols-4 gap-4 sm:p-6 sm:border border-neutral-800 rounded-sm relative fade-in-up"
        style="animation-delay: 1300ms;"
    >
        <img
            src={workDecor.src}
            alt=""
            srcset=""
            class="absolute top-0 left-0 z-0 h-full"
        />
        {
            works.map(({ title, image, description }) => (
                <div class="p-4 space-y-4 border border-neutral-800 rounded-sm bg-black/10 hover:bg-black/16 min-w-72 z-10 gradient-border-1">
                    <h5 class="text-2xl text-stone-50">{title}</h5>
                    <img src={image} class="rounded-sm w-full" />
                    <div class="flex justify-between space-x-2">
                        <p class="text-sm text-neutral-400 grow line-clamp-2">
                            {description}
                        </p>
                        <button class="text-sm text-white bg-orange-700 rounded-sm min-w-28 px-3 py-2">
                            {ctaText}
                        </button>
                    </div>
                </div>
            ))
        }
    </div>
</section>
