---
import building from "../../assets/blog/building.svg";
import bulb from "../../assets/blog/bulb.svg";
import loop from "../../assets/blog/loop.svg";
import mountain from "../../assets/blog/mountain.svg";
import { fetchPosts, fetchWorks } from "../../utils/api";

const works = await fetchWorks();
const posts = await fetchPosts();

const blogs: {
    thumbnail: string;
    topic: string;
    title: string;
    desc: string;
    href: string;
}[] = [
    ...works.slice(0, 3).map((work) => ({
        thumbnail: work.image,
        topic: work.topic,
        title: work.title,
        desc: work.synopsis,
        href: work.slug,
    })),
    ...posts
        .slice(0, 3)
        .map((post) => ({
            thumbnail: post.thumbnail,
            topic: post.topic,
            title: post.title,
            desc: post.synopsis,
            href: post.slug,
        })),
];
---

<section class="w-full px-6 pb-12 fade-in-up" style="animation-delay: 1400ms;">
    <div
        class="grid grid-cols-2 py-10 px-6 gap-y-10 gap-x-6 bg-stone-50/70 mb-18 border border-stone-200"
    >
        <div class="col-span-2">
            <p
                class="text-stone-50 text-[10px] bg-neutral-900 px-3 py-2 rounded-lg w-fit"
            >
                Blog
            </p>
        </div>
        <h1 class="text-black text-7xl">Geospatial Insights & Innovations</h1>
        <p class="text-neutral-800 text-lg">
            Explore the latest developments in geospatial technology and GIS.
            From mapping urban growth to optimizing mining operations, discover
            how location intelligence transforms data into smarter decisions
            across industries.
        </p>
    </div>

    <div
        class="w-full flex justify-between items-center border border-neutral-400 rounded-lg p-2 bg-stone-100 mb-3"
    >
        <div class="flex space-x-3">
            <button
                class="flex border border-neutral-900 bg-neutral-800 rounded-lg py-2 px-3 space-x-3 text-stone-50 text-[10px]"
                ><img src={bulb.src} alt="" /><p>All Articles</p>
            </button><button
                class="flex border border-neutral-400 text-neutral-600 rounded-lg py-2 px-3 space-x-3 text-[10px]"
                ><img src={building.src} alt="" /><p>Blog Posts</p>
            </button><button
                class="flex border border-neutral-400 text-neutral-600 rounded-lg py-2 px-3 space-x-3 text-[10px]"
                ><img src={mountain.src} alt="" /><p>Case Study</p>
            </button>
        </div>
        <div
            class="flex border border-neutral-400 rounded-lg px-3 py-2 text-sm text-neutral-600 space-x-2"
        >
            <input
                type="text"
                placeholder="Search Article"
                class="focus:border-none focus:outline-0 min-w-56"
            />
            <img src={loop.src} alt="" class="cursor-pointer" />
        </div>
    </div>
    <div class="grid grid-cols-3 gap-3">
        {
            blogs.map(({ title, topic, thumbnail, desc, href }) => (
                <div class="flex flex-col justify-between p-3 bg-stone-100/70 border border-neutral-400 rounded-sm space-y-3">
                    <div class="space-y-3">
                        <img
                            src={thumbnail}
                            alt=""
                            class="w-full h-64 object-cover object-center rounded-sm border border-black/10"
                        />
                        <h6 class="text-neutral-800 border-b border-neutral-600">
                            {topic}
                        </h6>
                        <h5 class="text-black text-3xl">{title}</h5>
                        <p class="text-neutral-600 text-lg line-clamp-5">
                            {desc}
                        </p>
                    </div>
                    <a
                        href={href}
                        class="block w-full py-3 text-center bg-orange-700 text-white rounded-sm"
                    >
                        Read More
                    </a>
                </div>
            ))
        }
    </div>
</section>
