---
import arrow from "../../assets/post/arrow.svg";
import type { Highlight } from "../../utils/api";

const {
    highlights,
    gallery,
}: { highlights?: Highlight[]; gallery?: string[] } = Astro.props;
---

<section class="w-full px-3 sm:px-6 grid grid-cols-1 lg:grid-cols-4 gap-4 sm:gap-6 text-neutral-800 mb-6 sm:mb-9">
    <h5 class="text-2xl sm:text-3xl lg:text-4xl">Product Highlight</h5>
    <div class="col-span-1 lg:col-span-3">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6">
            {
                highlights?.map(({ title, description }) => (
                    <article class="space-y-3">
                        <h6 class="text-lg sm:text-xl font-medium">{title}</h6>
                        <p class="text-sm sm:text-base">{description}</p>
                    </article>
                ))
            }
        </div>
        <div class="w-full overflow-x-scroll mt-6 sm:mt-9">
            <div class="flex space-x-4 h-64 sm:h-96 lg:h-[36rem]">
                {
                    gallery?.map((endpoint) => (
                        <img src={endpoint} alt="" class="rounded-sm h-full" />
                    ))
                }
            </div>
        </div>
        <div class="w-full flex justify-between items-center mt-4 sm:mt-6">
            <div class="space-x-2 sm:space-x-3">
                {
                    gallery?.map((endpoint, i) => (
                        <button
                            class={
                                "cursor-pointer w-2 h-2 sm:w-3 sm:h-3 rounded-full " +
                                (i === 1 ? "bg-orange-800" : "bg-neutral-400")
                            }
                        />
                    ))
                }
            </div>
            <div class="flex space-x-2 sm:space-x-3">
                <button
                    class="border border-neutral-900 rounded-full flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 cursor-pointer"
                >
                    <img src={arrow.src} class="w-3 sm:w-4" />
                </button>
                <button
                    class="border border-neutral-900 rounded-full flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 cursor-pointer"
                    ><img src={arrow.src} class="rotate-180 w-3 sm:w-4" />
                </button>
            </div>
        </div>
    </div>
</section>
