---
import "../styles/global.css";

import bragaLogo from "../assets/braga.svg";
import burgerIcon from "../assets/burger-icon.svg";
import geodImage from "../assets/layout/geod.png";
import logbookImage from "../assets/layout/logbook.png";
import poinImage from "../assets/layout/poin.png";
import Footer from "../components/home/Footer.astro";

const { theme } = Astro.props;

const navs = [
	{ href: "/", label: "Home" },
	{
		href: "/products",
		label: "Products",
		dropdowns: [
			{
				title: "GeoDashboard",
				subtitle:
					"Visualize spatial data, exercise spatial analysis, and gather insights.",
				href: "/products/poin",
				image: geodImage,
			},
			{
				title: "LogBook",
				subtitle:
					"Engaging map creator for your map-based storytelling",
				href: "/products/poin",
				image: logbookImage,
			},
			{
				title: "Poin",
				subtitle:
					"Innovative solutions for geospatial and ground surveys.",
				href: "/products/poin",
				image: poinImage,
			},
		],
	},
	{ href: "/service", label: "Services" },
	{ href: "/company", label: "Company" },
	{ href: "/initiatives", label: "Initiatives" },
	{ href: "/blogs", label: "Blog" },
];
---

<!doctype html>
<html lang="en" class="w-full">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, viewport-fit=cover"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Braga Website</title>
	</head>
	<body
		class={theme +
			" relative w-full bg-stone-100 dark:bg-neutral-900 font-inter"}
	>
		<div
			class="fixed w-full h-full -z-10 grid grid-cols-4 gap-6 px-6 stroke-fade-in"
		>
			<div class="border dark:border-neutral-800 border-stone-200"></div>
			<div class="border dark:border-neutral-800 border-stone-200"></div>
			<div class="border dark:border-neutral-800 border-stone-200"></div>
			<div class="border dark:border-neutral-800 border-stone-200"></div>
		</div>

		<div class={theme + " px-6 pt-6 w-full sticky top-0 z-10 fade-in-down"}>
			<div
				class="w-full flex items-center justify-between border border-stone-200 dark:border-neutral-800 p-2 rounded-sm text-neutral-800 dark:text-neutral-400 space-x-2 bg-stone-50 dark:bg-black/8 backdrop-blur-md"
			>
				<div
					class="border border-stone-200 dark:border-neutral-800 p-3 rounded-sm"
				>
					<img
						src={bragaLogo.src}
						alt="braga logo"
						class="invert dark:invert-0"
					/>
				</div>

				<nav class="grow hidden sm:flex space-x-3 text-center text-xs">
					{
						navs.map(({ href, label, dropdowns }) =>
							dropdowns?.length ? (
								<div class="dropdown z-10 relative">
									<button class="cursor-pointer w-20 dark:hover:text-neutral-200 hover:border border-stone-200 dark:border-neutral-700 rounded-sm h-9 flex justify-center items-center">
										{label}
									</button>
									<div class="content p-3 space-x-3 bg-stone-100 dark:bg-neutral-900/50 shadow-md rounded-lg border border-stone-300 dark:border-neutral-700 absolute left-0 top-9">
										{dropdowns.map(
											({
												image,
												href,
												title,
												subtitle,
											}) => (
												<a
													href={href}
													class="w-56 text-xs text-left cursor-pointer bg-stone-50 hover:bg-white dark:bg-transparent hover:dark:bg-neutral-900 border border-stone-200 dark:border-none p-2 rounded-lg"
												>
													<img
														src={image.src}
														alt=""
														class="w-full"
													/>
													<h6 class="text-neutral-800 dark:text-stone-200 my-2 font-semibold">
														{title}
													</h6>
													<p class="text-neutral-700 dark:text-neutral-400">
														{subtitle}
													</p>
												</a>
											),
										)}
									</div>
								</div>
							) : (
								<a
									class="w-20 dark:hover:text-neutral-200 hover:border border-stone-200 dark:border-neutral-700 rounded-sm h-9 flex justify-center items-center"
									href={href}
								>
									{label}
								</a>
							),
						)
					}
				</nav>
				<div
					class="border p-2 border-stone-200 dark:border-neutral-800 rounded-sm flex items-center space-x-2 text-xs"
				>
					<div class="hidden sm:block">
						<button class="text-orange-500 ml-1">EN</button>
						<button class="text-black dark:text-white">ID</button>
					</div>
					<button
						class="bg-rose-500 dark:bg-orange-700 rounded-sm text-white py-1.5 px-3"
						>Contact</button
					>
					<img src={burgerIcon.src} alt="" class="sm:hidden" />
				</div>
			</div>
		</div>

		<slot />

		<Footer theme={theme} />
		<div class="w-full h-6"></div>
	</body>
</html>

<style>
	.dropdown {
		display: inline-block;
	}
	.dropdown .content {
		display: none;
	}
	.dropdown:hover .content {
		display: flex;
	}

	@keyframes fadeInDown {
		0% {
			opacity: 0;
			transform: translateY(-20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.fade-in-down {
		animation: fadeInDown 0.6s ease-out;
	}

	@keyframes strokeFadeIn {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.stroke-fade-in {
		animation: strokeFadeIn 1.8s ease-out;
	}
</style>
